name: Build App
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
      - run: flutter pub get
      - run: flutter build apk --release
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: my-app
          path: build/app/outputs/flutter-apk/app-release.apk
          
